<div>
  <img src="https://www.pngmart.com/files/22/Tesla-Logo-PNG-Free-Download.png" alt="logo" class="logo">
</div>
<section>
  <img src="https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Mega-Menu-Energy-Solar-Panels.png" alt="Solar Panels" class="solar">
  <p>Solar Panels</p>
  <div class="container">
    <a mat-button href="https://www.tesla.com/solarpanels" target="_blank" rel="noopener noreferrer">Learn</a>
    <a mat-button href="https://www.tesla.com/energy/design" target="_blank" rel="noopener noreferrer">Order</a>
  </div>
</section>
<hr>
<section>
  <img src="https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Mega-Menu-Energy-Solar-Roof.png" alt="Solar Roof" class="solar">
  <p>Solar Roof</p>
  <div class="container">
    <a mat-button href="https://www.tesla.com/solarroof" target="_blank" rel="noopener noreferrer">Learn</a>
    <a mat-button href="https://www.tesla.com/energy/design" target="_blank" rel="noopener noreferrer">Order</a>
  </div>
</section>
<hr>
<section>
  <img src="https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Mega-Menu-Energy-Powerwall-US.png" alt="Solar Panels" class="solar">
  <p>Powerwall</p>
  <div class="container">
    <a mat-button href="https://www.tesla.com/powerwall" target="_blank" rel="noopener noreferrer">Learn</a>
    <a mat-button href="https://www.tesla.com/powerwall/design" target="_blank" rel="noopener noreferrer">Order</a>
  </div>
</section>
<hr>
<section>
  <img src="https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Mega-Menu-Energy-Megapack.png" alt="Solar Panels" class="solar">
  <p>Megapack</p>
  <div class="container">
    <a mat-button href="https://www.tesla.com/megapack" target="_blank" rel="noopener noreferrer">Learn</a>
  </div>
</section>


