.logo{
    padding-top: 1%;
    max-width: 10%;
    max-height: 10%;
    margin:auto;
    display: block;
}
p{
    font-size: 25px;
    text-align: center;
}
.solar{
    max-width: 70%;
    max-height: 70%;
    margin:auto;
    display: block;
}
.container{
    width: 100%;
    text-align: center;
    padding-bottom: 1%;
  }
  hr {
    border-top: 8px solid rgb(114, 114, 114);
    width: 90%;
  }